* {
  box-sizing: border-box;
}

:root {
  --darkened-color: rgb(149, 225, 255);
  --pale-color: rgb(215, 241, 251);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding: 12px 0px;
}

.logo {
  margin-left: 48px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.tabs-wrapper {
  flex-shrink: 0;

  background-color: #ffffff;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tasks-wrapper {
  flex: 1;
  background-color: var(--pale-color);

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.project-header {
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-tab {
  width: 100%;
  display: flex;

  /* background-color: rgb(255, 143, 246); */
}

.task {
  width: 100%;
  background-color: #fff;
  min-height: 48px;

  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);

  display: grid;
  grid-template-columns: 5% auto 20% 20% 5%;
  align-items: center;
}

.expand-btn {
  background-color: transparent;
  cursor: pointer;
}

.expand-icon:hover {
  color: red;
}

.task > div {
  direction: ltr;
}

.strikethrough {
  text-decoration: line-through;
  color: grey;
}

.project-name {
  cursor: pointer;
  flex-grow: 4;
  text-align: center;
  padding: 12px 0 12px 0;
  background-color: var(--pale-color);
  font-weight: bold;
  overflow: hidden;
}

.project-name:hover {
  background-color: black;
  color: white;
}

.active-project {
  background-color: black;
  color: white;
}

.edit-project {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.edit-project:hover {
  background-color: var(--darkened-color)
}

.delete-btn {
  background-color: transparent;
  flex-grow: 1;
  cursor: pointer;
}

.delete-btn:hover, .exit-btn:hover {
  transform: scale(1.3);
}

.save {
  margin-left: 6px;
}

img {
  pointer-events: none;
}

.svg-icons {
  width: 16px;
}

.add-project-btn, .add-task-btn {
  align-self: center;
  padding: 8px 12px;
  background-color: #000;
  color: white;
  font-weight: bold;
}

.add-task-btn {
  align-self: flex-end;
}

.add-project-btn:hover, .add-task-btn:hover {
  background-color: rgb(136, 136, 136);
  color: #000;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 360px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: var(--darkened-color);
  border: 1px solid #000;
}

.project-modal-header {
  display: flex;
  justify-content: space-between;
}

.exit-btn {
  background-color: transparent;
  cursor: pointer;
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 16px 0;
}

button {
  border-style: none;
}