* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding: 12px 0px;
}

.logo {
  margin-left: 48px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.tabs-wrapper {
  flex-shrink: 0;

  background-color: #ffffff;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-header {
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-tab {
  width: 100%;
  display: flex;

  /* background-color: rgb(255, 143, 246); */
}

.project-name {
  cursor: pointer;
  flex-grow: 4;
  text-align: center;
  padding: 12px 0 12px 0;
  background-color: rgb(216, 216, 250);
  font-weight: bold;
  overflow: hidden;
}

.project-name:hover {
  background-color: black;
  color: white;
}

.active-project {
  background-color: black;
  color: white;
}

.edit-project {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.edit-project:hover {
  background-color: rgb(171, 170, 255);
}

.delete-btn {
  background-color: transparent;
  flex-grow: 1;
  cursor: pointer;
}

.delete-btn:hover, .exit-btn:hover {
  transform: scale(1.3);
}

.save {
  margin-left: 6px;
}

img {
  pointer-events: none;
}

.add-project-btn {
  align-self: center;
  padding: 8px 12px;
  background-color: #000;
  color: white;
  font-weight: bold;
}

.add-project-btn:hover {
  background-color: rgb(136, 136, 136);
  color: #000;
}

.tasks-wrapper {
  flex: 1;
  background-color: rgb(227, 221, 255);
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 360px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: rgb(171, 170, 255);
  border: 1px solid #000;
}

.project-modal-header {
  display: flex;
  justify-content: space-between;
}

.exit-btn {
  background-color: transparent;
  cursor: pointer;
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 16px 0;
}

button {
  border-style: none;
}