* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding: 12px 0px;
}

.logo {
  margin-left: 48px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.tabs-wrapper {
  flex-shrink: 0;

  background-color: #ffffff;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-header {
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-tab {
  width: 100%;
  display: flex;

  /* background-color: rgb(255, 143, 246); */
}

.project-name {
  cursor: pointer;
  flex-grow: 4;
  text-align: center;
  padding: 12px 0 12px 0;
  background-color: rgb(164, 236, 236);
  font-weight: bold;
}

.project-name:hover {
  background-color: black;
  color: white;
}

.active-project {
  background-color: black;
  color: white;
}

.edit-project {
  background-color: rgb(240, 196, 238);
  cursor: pointer;
}

.edit-project:hover {
  background-color: rgb(236, 131, 231);
}

.delete-btn {
  background-color: transparent;
  flex-grow: 1;
  cursor: pointer;
}

.delete-btn:hover {
  transform: scale(1.3);
}

.add-project-btn {
  align-self: center;
  padding: 8px 12px;
  background-color: #000;
  color: white;
  font-weight: bold;
}

.add-project-btn:hover {
  background-color: rgb(136, 136, 136);
  color: #000;
}

.tasks-wrapper {
  flex: 1;
  background-color: rgb(246, 198, 134);
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 16px 0;
}

button {
  border-style: none;
}